@media screen and (min-width: 576px) {
  .home .title h1 {
    white-space: nowrap;
  }
  .services {
    padding-inline: 0px;
  }
  .nav-link:hover,
  .nav-link.active:hover {
    background-color: #ede9fe;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .title-1 h2 {
    font-size: 36px;
  }
  .client-card .info {
    display: flex;
    align-items: center;
  }
  /* .container {
    width: 80%;
    margin: auto;
    
  } */

  .clients .title-1 p {
    max-width: 700px;
    margin: auto;
  }
  .faq .title-1 p {
    max-width: 700px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .dropdown-toggle:hover::before {
    width: 100%;
  }
  .nav-link:hover::after,
  .nav-link.active:hover::after {
    width: 100%;
  }
  .nav-link:hover,
  .nav-link.active:hover {
    background-color: inherit;
    border-radius: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .title-1 h2 {
    font-size: 50px;
  }
  .services .paragraph-1 {
    margin-bottom: 16px;
  }
  .home {
    padding-top: 88px;
  }
  .home {
    padding-bottom: 0px;
  }
}
